# Ignore virtual environments
.venv/
venv/
ENV/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Other
*.DS_Store
visualizing_data.ipynb
draggable_curve/frontend/node_modules/
draggable_curve/__pycache__/
error_handling.py

#Lightscale on pause
DEPLOY_LIGHTSAIL.md

